.team-logo
  width 225px
  margin 42px 0 0 42px

.info-am9-logo
  position absolute
  width 131px
  top 36px
  right 100px

.member-image
  position absolute
  top 50px
  left 0px
  right 0px
  bottom 0px
  background-image url('../assets/images/member.png')
  background-size 700px
  background-position center
  background-repeat no-repeat
