div.clock(ng-controller="ClockCtrl")
  div.analog-clock
    div.hour-hand(style="transform:rotate({{hourHand}}deg)")
    div.min-hand(style="transform:rotate({{minHand}}deg)")
    div.sec-hand(style="transform:rotate({{secHand}}deg)")
    div.hand-cover
  div.digital-clock
    h2{{hour}} : {{min}} 
      span {{sec}}
    h3 {{year}} / {{mon}} / {{date}} 
      span {{day}}
  div {{time}}
