.resizable
  user-select none

.resizable-handle
  cursor ns-resize
  position absolute

.resizable-handle-top,
.resizable-handle-bottom
  height 5px

.resizable-handle-top
  left 0
  top 0
  right 0

.resizable-handle-bottom
  bottom 0
  left 0
  right 0
