a(href="https://github.com/mosi-mosi/mosi-mosi" target="_brank").github-button
img.team-logo(src="./assets/images/team-logo.png")
img.info-am9-logo(src="./assets/images/info-am9.png")
div(ui-sref="home" href="/")
  div.architecture-image
