main.main-article
  aside
    div.clock-wrapper(ng-include="'app/components/clock/clock.html'")
    div.friends-wrapper(ng-include="'app/components/friends/friends.html'")
  header.main-header
    h1 @keima
  div.timelines-wrapper(ng-include="'app/components/timelines/timelines.html'")

.modal-wrapper(ng-include="'app/components/payment/payment.html'")