.aside-login
  left 50%
  margin-left -140px
  .facebook-login-button
    cursor pointer
    transition 0.4s cubic-bezier(0.43,-0.21, 0.49, 1.32)
    position absolute
    left 50%
    margin-left -85px
    width 170px
    height 36px
    background-image url('../assets/images/facebook-button.png')
    background-size 170px
    top 75%
    margin-top -18px
    z-index: 1000;
    &:hover
      opacity 0.8
      transform scale(1.2)
  h1
    color #FFF
    position absolute
    top 25%
    display block
    font-weight 100
    font-size 50px
    text-shadow 0 2px 2px rgba(0,0,0,0.2)
    width 100%
    text-align center
    margin-top -34px

.login-clock
  position absolute
  width 280px
  height 100%
.login-analog-clock
  top 50%
  margin-top -61px
