div.friends(ng-controller="FriendsCtrl")
  ul
    li.friend(ng-repeat="user in users" ng-class='{active: $first}')
      a(href="#")
        img(ng-src="{{user.picture}}")
        h3 {{user.displayName}}
    li.friend
      a(href="#")
        img(src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfa1/v/t1.0-1/c3.0.160.160/p160x160/420268_235030379927238_1667179193_n.jpg?oh=bd3450ebeeac0a293d12968fa23e8b42&oe=55F0A82D&__gda__=1441706013_77fe6a2be093afd9cc4eb6ee9dd60be3")
        h3 #mosi-mosi
    li.friend
      a(href="#")
        img(src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfa1/v/t1.0-1/c3.0.160.160/p160x160/420268_235030379927238_1667179193_n.jpg?oh=bd3450ebeeac0a293d12968fa23e8b42&oe=55F0A82D&__gda__=1441706013_77fe6a2be093afd9cc4eb6ee9dd60be3")
        h3 @junkawasaki
