.timelines
  height: 100%

.timeline
  display: inline-block
  height: 100%
  position: relative
  width: 200px

.timeline-thing
  border: 1px solid #000000
  left: 0
  overflow: hidden
  position: absolute
  width: 100%
